In [1]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [2]:
!kaggle datasets download -d jp797498e/twitter-entity-sentiment-analysis

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
twitter-entity-sentiment-analysis.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('/content/twitter-entity-sentiment-analysis.zip','r')
zip_ref.extractall('/content')
zip_ref.close()

In [4]:
import pandas as pd

In [5]:
training_df = pd.read_csv("twitter_training.csv")
validation_df = pd.read_csv("twitter_validation.csv")

In [6]:
training_df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [7]:
validation_df.head()

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...

In [8]:
training_df.shape, validation_df.shape

((74681, 4), (999, 4))

In [9]:
print(training_df.columns)
print(validation_df.columns)

Index(['2401', 'Borderlands', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')
Index(['3364', 'Facebook', 'Irrelevant',
       'I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣'],
      dtype='object')

In [10]:
training_df.rename(columns = {'2401':'Tweet_ID', 'Borderlands':'Topic', 'Positive':'Sentiment', 'im getting on borderlands and i will murder you all ,':'Tweet'}, inplace=True)
validation_df.rename(columns = {'3364':'Tweet_ID', 'Facebook':'Topic', 'Irrelevant':'Sentiment', 'I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣':'Tweet'}, inplace=True)

In [11]:
training_df.head()

,Tweet_ID,Topic,Sentiment,Tweet
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [12]:
validation_df.head()

,Tweet_ID,Topic,Sentiment,Tweet
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...

In [13]:
training_df.Topic.unique()

array(['Borderlands', 'CallOfDutyBlackopsColdWar', 'Amazon', 'Overwatch',
       'Xbox(Xseries)', 'NBA2K', 'Dota2', 'PlayStation5(PS5)',
       'WorldOfCraft', 'CS-GO', 'Google', 'AssassinsCreed', 'ApexLegends',
       'LeagueOfLegends', 'Fortnite', 'Microsoft', 'Hearthstone',
       'Battlefield', 'PlayerUnknownsBattlegrounds(PUBG)', 'Verizon',
       'HomeDepot', 'FIFA', 'RedDeadRedemption(RDR)', 'CallOfDuty',
       'TomClancysRainbowSix', 'Facebook', 'GrandTheftAuto(GTA)',
       'MaddenNFL', 'johnson&johnson', 'Cyberpunk2077',
       'TomClancysGhostRecon', 'Nvidia'], dtype=object)

In [14]:
training_df.Tweet

0        I am coming to the borders and I will kill you...
1        im getting on borderlands and i will kill you ...
2        im coming on borderlands and i will murder you...
3        im getting on borderlands 2 and i will murder ...
4        im getting into borderlands and i can murder y...
                               ...
74676    Just realized that the Windows partition of my...
74677    Just realized that my Mac window partition is ...
74678    Just realized the windows partition of my Mac ...
74679    Just realized between the windows partition of...
74680    Just like the windows partition of my Mac is l...
Name: Tweet, Length: 74681, dtype: object

In [15]:
training_df.isna().sum()

Tweet_ID       0
Topic          0
Sentiment      0
Tweet        686
dtype: int64

In [16]:
training_df = training_df.dropna()

In [17]:
validation_df.isna().sum()

Tweet_ID     0
Topic        0
Sentiment    0
Tweet        0
dtype: int64

##Text Preprocessing##

In [18]:
import re

In [19]:
training_df['Tweet'] = training_df['Tweet'].str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)
validation_df['Tweet'] = validation_df['Tweet'].str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)

<ipython-input-19-acb004031e19>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  training_df['Tweet'] = training_df['Tweet'].str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)
<ipython-input-19-acb004031e19>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  validation_df['Tweet'] = validation_df['Tweet'].str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)

In [20]:
training_df.head(100)

,Tweet_ID,Topic,Sentiment,Tweet
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
96,2417,Borderlands,Negative,Grounded looked cool despite the borderline un...
97,2417,Borderlands,Negative,Grosskreutz looked pretty cool even despite t...
98,2417,Borderlands,Negative,Grounded almost looked pretty cool here despit...
99,2417,Borderlands,Negative,Deep Grounded almost looked pretty cool even d...
100,2417,Borderlands,Negative,Grounded almost was pretty cool even despite t...

**Lower Case**

In [21]:
def convert_lower(text):
  return text.lower()

In [22]:
training_df.Tweet = training_df.Tweet.apply(convert_lower)
validation_df.Tweet = validation_df.Tweet.apply(convert_lower)

**Removing Stopwords**

In [23]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)

In [24]:
import nltk

In [25]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
from nltk.corpus import stopwords

In [27]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [28]:
def remove_stopwords(text):
  x=[]

  for i in text.split():
    if i not in stopwords.words('english'):
      x.append(i)

  return x

In [29]:
training_df.Tweet = training_df.Tweet.apply(remove_stopwords)
validation_df.Tweet = validation_df.Tweet.apply(remove_stopwords)

**Word Streaming**

In [30]:
from nltk.stem.porter import PorterStemmer

In [31]:
ps = PorterStemmer()

In [32]:
def stem_words(text):
  x=''

  for i in text:
    x+= ps.stem(i)
    x+=' '
  return x

In [33]:
training_df.Tweet = training_df.Tweet.apply(stem_words)
validation_df.Tweet = validation_df.Tweet.apply(stem_words)

In [34]:
training_df

,Tweet_ID,Topic,Sentiment,Tweet
0,2401,Borderlands,Positive,come border kill
1,2401,Borderlands,Positive,im get borderland kill
2,2401,Borderlands,Positive,im come borderland murder
3,2401,Borderlands,Positive,im get borderland 2 murder
4,2401,Borderlands,Positive,im get borderland murder
...,...,...,...,...
74676,9200,Nvidia,Positive,realiz window partit mac like 6 year behind nv...
74677,9200,Nvidia,Positive,realiz mac window partit 6 year behind nvidia ...
74678,9200,Nvidia,Positive,realiz window partit mac 6 year behind nvidia ...
74679,9200,Nvidia,Positive,realiz window partit mac like 6 year behind nv...
74680,9200,Nvidia,Positive,like window partit mac like 6 year behind driv...

**Vectorize the words**

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
cv = CountVectorizer(max_features = 8000)

In [37]:
X_train = cv.fit_transform(training_df.Tweet).toarray()
X_test = cv.transform(validation_df.Tweet).toarray()

In [38]:
X_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [39]:
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

***Converting Positive 1, negetive -1, neutral 0, Irrelevant 2***

In [40]:
training_df.Sentiment.unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [41]:
training_df.Sentiment = training_df.Sentiment.replace({'Positive':1, 'Neutral':0, 'Negative':-1, 'Irrelevant':2})
validation_df.Sentiment = validation_df.Sentiment.replace({'Positive':1, 'Neutral':0, 'Negative':-1, 'Irrelevant':2})

In [42]:
training_df.Sentiment.unique(), validation_df.Sentiment.unique()

(array([ 1,  0, -1,  2]), array([ 0, -1,  1,  2]))

In [43]:
y_train = training_df.iloc[:,2]
y_test = validation_df.iloc[:,2]

In [44]:
y_train

0        1
1        1
2        1
3        1
4        1
        ..
74676    1
74677    1
74678    1
74679    1
74680    1
Name: Sentiment, Length: 73995, dtype: int64

In [45]:
y_test

0      0
1     -1
2     -1
3      0
4     -1
      ..
994    2
995    2
996    1
997    1
998    0
Name: Sentiment, Length: 999, dtype: int64

In [46]:
X_test.shape, X_train.shape, y_test.shape, y_train.shape

((999, 8000), (73995, 8000), (999,), (73995,))

In [47]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [48]:
gclf = GaussianNB()
mclf = MultinomialNB()
bclf = BernoulliNB()

In [49]:
gclf.fit(X_train,y_train)
mclf.fit(X_train,y_train)
bclf.fit(X_train,y_train)

BernoulliNB()

In [50]:
ypredG = gclf.predict(X_test)
ypredM = mclf.predict(X_test)
ypredB = bclf.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
print("Gaussian : ", accuracy_score(y_test, ypredG))
print("Multinomial : ", accuracy_score(y_test, ypredM))
print("Bernoulli : ", accuracy_score(y_test, ypredB))

Gaussian :  0.5575575575575575
Multinomial :  0.7247247247247247
Bernoulli :  0.7167167167167167

##Sentiment Analysis Complete Funtion

In [56]:
def sentiment_analyzer(text):
  
  text = text.str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)
  text = text.apply(convert_lower)
  text = text.apply(remove_stopwords)
  text = text.apply(stem_words)
  
  vector = cv.transform(text).toarray()
  ypredM = mclf.predict(vector)

  return ypredM

In [83]:
txt = "I will kill the president. He is a piece of shit"
p = sentiment_analyzer(pd.Series([txt]))

<ipython-input-56-a9038d300567>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  text = text.str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)

In [84]:
if p == 1:
  print("Positive")
elif p==0:
  print("Neutral")
elif p==-1:
  print('Negetive')
else:
  print("Irrelevent")

Irrelevent

In [85]:
import pickle

In [88]:
pickle.dump(convert_lower, open("convert_lower.pkl","wb"))

In [89]:
pickle.dump(remove_stopwords, open("remove_stopwords.pkl","wb"))

In [90]:
pickle.dump(stem_words, open("stem_words.pkl","wb"))

In [91]:
pickle.dump(cv, open("cv.pkl","wb"))

In [92]:
pickle.dump(mclf, open("clf.pkl","wb"))